{% extends 'layout.html' %}

{% block subsection %} dashboard {% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#users-table').DataTable({
            paging: false
        });
    });
    </script>
{% endblock %}

{% block content %}
<h1>List of Rescue Users</h1>

<p>Below is a list of all the registered rescue class students and their history logs.</p>

<table id="users-table" class="table table-striped" style="margin-top: 1em;">
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
